/* Misc */
@font-face {
    font-family: "White-Rabbit";
    src: url("/noahsguides/css/fonts/whitrabt.eot");
    src: url("/noahsguides/css/fonts/whitrabt.woff2") format("woff2"),
    url("/noahsguides/css/fonts/whitrabt.woff") format("woff"),
    url("/noahsguides/css/fonts/whitrabt.ttf") format("truetype");
}

@-webkit-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}
@-moz-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}
@-o-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}
@keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}
@-webkit-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
@-moz-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
@-o-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
@keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

@keyframes dash {
    to {
        background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
    }
}

@-webkit-keyframes fade {
    from {
      opacity: .5
    }
    to {
      opacity: 1
    }
}

@keyframes fade {
    from {
      opacity: .5
    }
    to {
      opacity: 1
    }
}

/* Color Codes
Hex:        RGBA                        Descripiton
0050FF  -   rgba(0, 80, 255, 1)     =   Blue Accent (Primary Color)            
E1EBFF  -   rgba(225, 235, 255, 1)  =   Light Blue Accent (Secondary Color)
006BFF  -   rgba(0, 107, 255, 1)    =   Blue Accent 2 (Backup Color)
D3D3D3  -   rgba(211, 211, 211, 1)  =   Grey (Primary Font Color)
*/

/* Main Styles */
html, body {
    font-family: "White-Rabbit", "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

header {
    margin-top: 2em;
}

header img {
    height: 55px;
}

h1 {
    color: #0050FF;
    text-shadow: 2px 2px 3px black;
    padding: 0;
}

h1 a {
    text-decoration: none;
}

h1 a:visited {
    color: #0050FF;
    text-decoration: none;
}

nav {
    background-color: #D3D3D3;
    width: 100%;
}

nav ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

nav ul li {
    background-color: rgba(0, 80, 255, 0.75);
    margin: 1px 0;
}

nav ul li a {
    display: block;
    color: #D3D3D3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #006BFF;
}

main {
    margin: 1em;
    background-color: rgba(211, 211, 211, 0.5);
    color: black;
    line-height: 1.5;
    padding: 15px;
    border-radius: 15px;
    box-sizing: border-box;
}

main ul {
    margin: 0;
}

main ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #006BFF;
}

main ul li a:hover {
    color: #006;
}

p {
    font-size: 1.25em;
    padding: 3px;
    margin: auto;
}

h2 {
    font-size: 1.75em;
    font-weight: bold;
    padding: 5px;
    color: #006BFF;
    margin: auto;
}

h3 {
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px;
    color: #006BFF;
    margin: auto;
}

img {
    vertical-align: middle;
}

footer {
    font-size: .8em;
    background-color: rgba(0, 80, 255, 0.75);
    color: #D3D3D3;
    width: 100%;
    padding: 3px;
    text-align: center;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: white;
}

/* IDs */
#wrapper {
    margin: 0;
    padding: auto;
    min-height: 100%;
    position: relative;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#courseSelection {
    list-style-type: none;
    list-style-position: inside;
}

#courseSelection li ol {
    background-color: rgba(225, 235, 255, 0.5);
    border-left: 5px solid #006BFF;
    margin-left: 1em;
    padding-left: 5px;
}

#courseSelection li ol li {
    padding: 5px;
    margin: 0;
}

/* Classes */
.altStyle {
    background-color: rgba(225, 235, 255, 0.5);
    border-radius: 15px;
    padding: 0 5px 3px 5px;
    margin: 0.25em;
}

.altStyle p, ul, ol{
    color: black;
    list-style-type: square;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.mySlides {
    display: none;
    border: 10px solid #006BFF;
    border-radius: 15px;
}

.slideshow-container {
    background-color: rgba(225, 235, 255, 0.5);
    max-width: 100%;
    position: relative;
    margin: 1em 0.25em 1em 0.25em;
    padding: 15px;
    border-radius: 15px;
}

/* Media Queries */
@media (min-width: 600px) {
    nav {
        font-size: 1em;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: rgba(0, 80, 255, 0.75);
    }
    
    nav ul {
        display: block;
        margin: 0;
        list-style-type: none; 
        padding-left: 10px;
        overflow: hidden;
    }

    nav ul li {
        display: block;
        float: left;
        background-color: rgba(0, 0, 0, 0);
    }

    main {
        margin: 1em;
        padding: 15px;
    }

    footer {
        position: relative;
        width: 100%;
    }

    #logo {
        justify-content: left;
    }

    #courseSelection li ol {
        background-color: rgba(225, 235, 255, 1);
    }
}

@media (min-width: 1024px) {
    header {
        margin-top: 3em;
        padding: 0;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
    }
    
    header img {
        height: 65px;
        padding: 0;
        margin-bottom: 5px;
        float: left;
    }
    
    h1 {
        margin: 0;
        display: block;
        padding: 0;
        text-align: left;
    }

    body {
        background: url("../images/tiny_grid.webp") repeat 0 0;
        /* Open Source Animation from - https://codepen.io/kootoopas/pen/kGPoaB?editors=0100 */
        -webkit-animation: bg-scrolling-reverse 1.05s infinite; 
        -moz-animation: bg-scrolling-reverse 1.05s infinite; 
        -o-animation: bg-scrolling-reverse 1.05s infinite; 
        animation: bg-scrolling-reverse 1.05s infinite; 
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
        -o-animation-timing-function: linear;
        animation-timing-function: linear;  
    }

    main {
        background: linear-gradient(90deg, #0050FF 50%, transparent 50%), linear-gradient(90deg, #0050FF 50%, transparent 50%), linear-gradient(0deg, #0050FF 50%, transparent 50%), linear-gradient(0deg, #0050FF 50%, transparent 50%);
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
        background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
        border-radius: 5px;
        animation: dash 15s linear infinite;
        animation-direction: reverse;
        margin: 3em 25em;
        width: inherit;
    }
}
