/* Misc */
@font-face {
    font-family: "White-Rabbit";
    src: url("/noahsguides/css/fonts/whitrabt.eot");
    src: url("/noahsguides/css/fonts/whitrabt.woff2") format("woff2"),
    url("/noahsguides/css/fonts/whitrabt.woff") format("woff"),
    url("/noahsguides/css/fonts/whitrabt.ttf") format("truetype");
}

@-webkit-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}
@-moz-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}
@-o-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}
@keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}
@-webkit-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
@-moz-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
@-o-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
@keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}


/* Color Codes
Hex:        RGBA                        Descripiton
0050FF  -   rgba(0, 80, 255, 1)     =   Blue Accent (Primary Color)            
E1EBFF  -   rgba(225, 235, 255, 1)  =   Light Blue Accent (Secondary Color)
006BFF  -   rgba(0, 107, 255, 1)    =   Blue Accent 2 (Backup Color)
D3D3D3  -   rgba(211, 211, 211, 1)  =   Grey (Primary Font Color)
*/

/* Main Styles */
body {
    font-family: "White-Rabbit", "Courier New", Courier, monospace;
    background: url("/noahsguides/tiny_grid.webp") repeat 0 0;
    
    /* Open Source Animation from - https://codepen.io/kootoopas/pen/kGPoaB?editors=0100 */
    -webkit-animation: bg-scrolling-reverse 1.05s infinite; 
    -moz-animation: bg-scrolling-reverse 1.05s infinite; 
    -o-animation: bg-scrolling-reverse 1.05s infinite; 
    animation: bg-scrolling-reverse 1.05s infinite; 
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;  
}

header {
    margin-top: 3em;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    left: 0;
}

h1 {
    display: block;
    margin: 0;
    padding: 10px;
    color: #0050FF;
    text-shadow: 2px 2px 3px black;
    text-align: left;
}

nav {
    font-size: 1em;
    padding: 0;
    background-color: rgba(0, 80, 255, 0.75);
}

nav ul {
    list-style-type: none;
    margin: 1em;
    padding: auto;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #D3D3D3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #006BFF;
}

main {
    margin-top: 3em;
    margin-bottom: 3em;
    background-color: rgba(225, 235, 255, 0.5);
    color: black;
    padding: 15px;
}

footer {
    font-size: .8em;
    background-color: rgba(0, 80, 255, 0.75);
    color: #D3D3D3;
    width: 100%;
    padding: 3px;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: white;
}

/* IDs */
#wrapper {
    margin: 25em;
    padding: auto;
    min-height: 100%;
    position: relative;
}

#home {
    float: right;
    max-width: 35%;
}

#featured {
    max-width: 45%;
    background-color: #0050FF;
    height: auto;
}

/* Classes */
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
